.header{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 20px;
	display: grid;
	grid-template-columns: 3fr 1fr ;
}
.header h3{
	color:  #ffffff;
	font: normal 32px 'Open Sans', cursive;
	margin: 0;
}

.header h3 span{
	color:  lightseagreen;
}